@keyframes fadeInShadows {
    from {box-shadow: none;}
    to {box-shadow: 5px 10px #986acc;}
}

li {
    background-color: #ffffff;
    font-family: Caveat;
    text-align: center;
    font-size: 2rem;
    list-style-type: none;
    padding: 20px;
    border-radius: 10px;
}

li:hover {
    animation: fadeInShadows 0.3s forwards;
    text-decoration: underline;
    color: #df5e84;
    a {
        color: #df5e84;
        text-decoration: none;
    }
}

#repo-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    gap: 20px;
}