@font-face {
    font-family: Caveat;
    src: url(Caveat-Regular.ttf);
}

@media only screen and (max-width: 700px) {
    header {
        width: 100vw;
    }
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: repeating-linear-gradient(
    90deg,
  #b47ef0,
  #b47ef0 50px,
  #df5e84 50px,
  #df5e84 100px
    );
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
    position: sticky;
    font-family: Caveat;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    border-bottom: 2px dashed #df5e84;
}

.whitespace {
    width: 50vw;
    height: 20px;
}

nav {
    text-align: right;
    margin-right: 20px;
    word-spacing: 10px;
    font-size: 1.5rem;
    color: #b47ef0;
}

#navname {
    color: #b47ef0;
    font-family: Caveat;
    font-size: 2rem;
    margin: 0;
}

#navlogo {
    float: left;
}

a:link, a:visited {
    color: #b47ef0;
    text-decoration: none;
}

a:hover {
    color: #df5e84;
    text-decoration: underline;
}

footer {
    background-color: #ffffff;
    font-family: Caveat;
    color: #b47ef0;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 5px;
}

#footerphoto {
    margin: 20px;
    margin-bottom: 0;
}

#footerphoto, .bind {float: left;}

.links {
    margin-left: 35vw;
    margin-top: 5px;
}

#number {
    font-size: 1.1rem;
    color: #b47ef0;
    margin-top: 0;
}

.bind {
    display: flex;
    align-items: center;
}

sub {
    margin: 0;
    align-items: end;
    display: flex;
}