@font-face {
    font-family: Caveat;
    src: url(Caveat-Regular.ttf);
}

.cardfront {
    border: 2px solid #808080;
    background-image: url("star.png");
    background-size: 325px 325px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(#b47ef0, #DF5E84);
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 200px;
    border-radius: 10px; 
    text-align: center;
    align-items: center;
    padding: 100px;
    color: #b47ef0;
    font-family: Caveat;
    font-size: 1.25rem
}

.cardback {
    border: 2px solid #808080;
    background-image: url("star.png");
    background-size: 325px 325px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(#b47ef0, #DF5E84);
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 200px;
    border-radius: 10px; 
    text-align: center;
    align-items: center;
    padding: 100px;
    color: #b47ef0;
    font-family: Caveat;
    font-size: 1.25rem
}